<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>Movie extravaganza</title>

  </head>
  <body>
  	<div id="movie-app-root"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdcUdy8gWHdOuXgS87yo9lVGWwTXOxS04&libraries=places"></script>
  	<script src="/static/dev-bundle.js"></script>
    <script src="https://cdn.ravenjs.com/3.7.0/raven.min.js">
    <script>Raven.config('https://58f9fc4e7bf844fbbfcdad8916fdc24d@sentrylog.cancerresearchuk.org/5').install()</script>
  </body>
</html>
